<div class="modal {{ isUserDataLoading ? 'h-[300px]' : '' }} w-[400px] py-8 px-6">
  <div class="flex justify-between w-full mb-5">
    <div class="flex items-center gap-4">
      <div>
        <img class="h-11 w-11" src="images/accProfile.png" alt="" />
      </div>
      <div>
        <p class="text-[#101828] text-lg !mb-0">Acc</p>
        <span class="text-[#475467] text-sm">my profile</span>
      </div>
    </div>
    <div mat-dialog-close class="w-[45px] cursor-pointer">
      <img class="w-full" src="images/close.png" alt="" />
    </div>
  </div>
  <hr />
  @if (isUserDataLoading) {
    <p class="m-2">Loading...</p>
  } @else {
    <form [formGroup]="formAddIdeas" class="w-full" (ngSubmit)="submit()">
      <label class="text-[#667085] text-sm font-medium" for="name">Name</label>
      <input
        formControlName="name"
        class="w-full border rounded-md border-solid border-[#D0D5DD] py-3 px-4 outline-none mb-1"
        id="name"
        type="text"
        placeholder="Name"
      />
      @if (formAddIdeas.controls['name'].touched && formAddIdeas.controls['name'].hasError('required')) {
        <mat-error class="mb-2 text-red-600 block">Name is <strong>required</strong></mat-error>
      }
      <label class="text-[#667085] text-sm font-medium" for="surname">Surname</label>
      <input
        formControlName="surname"
        class="w-full border rounded-md border-solid border-[#D0D5DD] py-3 px-4 outline-none mb-1"
        id="surname"
        type="text"
        placeholder="Surname"
      />
      @if (formAddIdeas.controls['surname'].touched && formAddIdeas.controls['surname'].hasError('required')) {
        <mat-error class="mb-2 text-red-600 block">Surname is <strong>required</strong></mat-error>
      }
      <label class="text-[#667085] text-sm font-medium" for="username">Username</label>
      <input
        formControlName="username"
        class="w-full border rounded-md border-solid border-[#D0D5DD] py-3 px-4 outline-none mb-1"
        id="username"
        type="text"
        placeholder="Username"
      />
      @if (formAddIdeas.controls['username'].touched && formAddIdeas.controls['username'].hasError('required')) {
        <mat-error class="mb-2 text-red-600 block">Username is <strong>required</strong></mat-error>
      }
      <label class="text-[#667085] text-sm font-medium" for="email">Email</label>
      <input
        formControlName="email"
        class="w-full border rounded-md border-solid border-[#D0D5DD] py-3 px-4 outline-none mb-1"
        id="email"
        type="email"
        placeholder="Email"
      />
      @if (formAddIdeas.controls['email'].touched && formAddIdeas.controls['email'].hasError('required')) {
        <mat-error class="mb-2 text-red-600 block">Email is <strong>required</strong></mat-error>
      }
      @if (formAddIdeas.controls['email'].hasError('email')) {
        <mat-error class="mb-2 text-red-600 block">Email is not <strong>valid !</strong></mat-error>
      }
      <hr />
      <div class="flex justify-between mt-5">
        <button
          mat-dialog-close
          class="py-3 px-4 bg-transparent border rounded-md border-solid border-[#D0D5DD] w-[173px]"
        >
          Cancel
        </button>
        <button
          class="py-3 px-4 bg-green-500 w-[173px] border rounded-md hover:bg-green-600 text-white"
          type="submit"
          [disabled]="formAddIdeas.invalid"
        >
          Save
        </button>
      </div>
    </form>
  }
</div>
